{erl_opts, [debug_info]}.

{deps, [
        {vernemq_dev, {git, "git://github.com/vernemq/vernemq_dev.git", {branch, "master"}}}
       ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.


{dialyzer, [
            {warnings, [no_return]},
            {plt_apps, top_level_deps},
            {plt_prefix, "{{name}}"}
           ]
}.

{eunit_compile_opts, [nowarn_export_all]}.

{ct_compile_opts, [nowarn_export_all]}.